@import "../../style/base";

.filterPageTitle {
  width: 15.5rem;
  font-family: CirceRoundedBold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.022em;
  color: $nomadas-green;
}
.distanceCenterFP {
  margin-top: 25px;
}
.slideAndMeasure {
  display: flex;
  .measureFilters {
    color: #333333;
    font-family: CirceRoundedRegular;
    font-size: 14px;
    letter-spacing: -0.022em;
    align-items: center;
  }
}
.distanceCenterFP,
.priceFP,
.sizeFP,
.internetFP,
.distanceBeachFP {
  border-bottom: 1px solid #dadada;
}
.filterTitles {
  width: 304px;
  margin-left: 23px;
  margin-right: 33px;
  margin-bottom: 0px;
  margin-top: 12px;
  font-family: CirceRoundedRegular;
  font-size: 22px;
  line-height: 21px;
  letter-spacing: -0.022em;
  color: #333333;
}

.dropDown {
  padding-top: 12px;
  display: flex;
  margin-left: 23px;
  margin-right: 24px;
  margin-bottom: 32px;
  justify-content: space-between;
  .min,
  .max {
    width: 120px;
    height: 24px;
    background: #e5e5e5;
    border-radius: 20px;
  }
}

.showResults {
  height: 40px;
  width: 192px;
  background-color: $nomadas-green;
  border: 1px solid #1a535c;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 15px;
  a {
    color: #ffffff;
  }
  .showResultsLink {
    font-family: CirceRoundedRegular;
    font-size: 16px;
  }
}
