@import "../../style/base";

.filterPageTitle {
  width: 9rem;
  font-family: CirceRoundedBold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.022em;
  color: $nomadas-green;
}
.distanceCenterFP {
  margin-top: 25px;
}
.slideAndMeasure {
  display: flex;
  .measureFilters {
    color: #333333;
    font-family: CirceRoundedRegular;
    font-size: 14px;
    letter-spacing: -0.022em;
    align-items: center;
  }
}
.distanceCenterFP,
.priceFP,
.sizeFP,
.internetFP,
.distanceBeachFP {
  border-bottom: 1px solid #dadada;
}
.filterTitles {
  width: 304px;
  margin-left: 23px;
  margin-right: 33px;
  margin-bottom: 0px;
  margin-top: 15px;
  font-family: CirceRoundedRegular;
  font-size: 22px;
  line-height: 21px;
  letter-spacing: -0.022em;
  color: #333333;
}

.dropDown {
  padding-top: 12px;
  display: flex;
  margin-left: 23px;
  margin-right: 24px;
  margin-bottom: 16px;
  justify-content: space-between;
}
div.select-container {
  width: 120px;
  height: 16px;
  margin-bottom: 15px;
}
div.select__control {
  border-radius: 20px;
  background-color: #e5e5e5;
  border-color: transparent;
  height: 24px;
  min-height: 24px;
}
div.select__control--menu-is-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
div.select__menu {
  background-color: #e5e5e5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

div.select__option {
  background-color: #e5e5e5;
  color: #333333;
}

div.select__control--is-focused {
  box-shadow: 0 0 0 1px transparent;
}
div.select__value-container {
  height: 24px;
}
div.select__indicators {
  height: 24px;
}

div.select__dropdown-indicator {
  color: $nomadas-green;
}
span.select__indicator-separator {
  display: none;
}
div.select__input-container {
  margin: 0px;
  padding-top: 0px;
}

.showResults {
  height: 40px;
  width: 192px;
  background-color: $nomadas-green;
  border: 1px solid #1a535c;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 0.5rem;
  font-family: CirceRoundedRegular;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  a {
    color: #ffffff;
  }
}
.deleteFilters {
  display: flex;
  input:focus {
    outline: none;
  }
}

.deleteFiltersText {
  background-color: transparent;
  font-family: CirceRoundedRegular;
  font-size: 1rem;
  color: $nomadas-green;
  margin-left: 3px;
  padding: 0;
  text-decoration: underline $nomadas-green solid;
  border-style: none;
  width: 6rem;
}

.houseTypeFilter {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dadada;
}

.houseTypeContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 1.4rem;
  margin-top: 0.938rem;
  font-family: CirceRoundedRegular;
  font-size: 1.125rem;
}

.houseTypeContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 0.3rem;
}

.distanceCoworkingFP {
  margin-bottom: 4rem;
}
