@import "../../style/base";
@import "../../style/text";
@import "../../style/icons";

.headerCities {
  @include header(13.181rem);
  @include headerBackgroundImg("FONDO-CIUDADES.jpg");
}

.headerCities h1 {
  font-family: CirceRoundedBold;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: -0.001rem;
  color: #1a535c;
}

.headerCities button {
  border-radius: 1rem;
  width: 12rem;
  height: 2.625rem;
  margin-left: 5.25rem;
  font-family: CirceRoundedRegular;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #1a535c;
  border: 1px solid #1a535c;
  box-sizing: border-box;
  border-radius: 20px;
}

.mainCities {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sectionCity {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  height: 6.5rem;
}

.sectionCity:first-child {
  margin-top: 2rem;
}

.contentImg {
  width: 50%;
  height: 6.5rem;
}

.sectionCity img {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.contentText {
  margin-left: 1rem;
  width: 50%;
  height: 6.5rem;
}

.contentTextHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  margin: 0;
}

.contentTextHeader h2 {
  font-family: CirceRoundedBold;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: -0.022em;
  color: #000000;
  margin: 0;
}

.contentTextHeader span {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.contentText p {
  font-family: CirceRoundedRegular;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: -0.022em;
  color: #000000;
  margin: 0;
}

.contentIcons {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.contentIcons p {
  font-family: CirceRoundedRegular;
  font-size: 0.75rem;
  line-height: 0.938rem;
  letter-spacing: -0.022em;
  color: #000000;
}

.contentIconFirst {
  display: flex;
  align-items: center;
}

.contentIconSecond {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
