@import "../../style/base";
@import "../../style/text";
@import "../../style/icons";

body{
    // height: 100%;
    // background-image: url("../../static/Fondo.png")!important;   
    // background-position: 2.25rem 0.563rem !important;
    // background-repeat: no-repeat !important;
    // background-size: 19.2rem !important;
    // opacity: 0.5;
} 

// .imgFondo{
//     background-image: url("../../static/Fondo.png");
//     // background-color: #cccccc;
//     height: 664px;
//     // background-position: center;
//     background-position: 2.25rem 0.563rem;
//     background-repeat: no-repeat;
//     // background-size: cover;
//     background-size: 19.2rem;
//     position: relative;
//     // position: absolute;
//     opacity: 0.5;
    
// }
// .backGround{
//     // height: 100%;
//     position: relative;
//     // top: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     row-gap: 1.5rem;
//     // z-index: 2;
 
//     .logo{
//         padding-top: 15rem;
//         width: 24%;
//         opacity: 1;
        
//     }
//     .textLogo{
//         width: 50%;
//         padding-bottom: 3rem;
        
//     }
//     button{
//         background: #1A535C;
//         box-sizing: border-box;
//         border-radius: 20px;
//         border: 1px solid #1A535C;
//         width: 12rem;
//         height: 2.5rem;
//         font-family: CirceRoundedRegular;
//         font-size: 1rem;
//         line-height: 1.25rem;
//         text-align: center;
//         letter-spacing: -0.022em;
//         color: #FFFFFF;        
//     }
//     .buttonWhite{
//         color: #1A535C;
//         background: #FFFFFF;
//     }
//     a{
//     font-family: CirceRoundedRegular;
//     font-size: 1rem;
//     line-height: 1.25rem;
//     letter-spacing: -0.022em;
//     color: #1A535C;
//     }

// } 
.wrap{
    position: relative;
    overflow: hidden;
    // padding: 16px;
    // border: 1px dashed green;
}
.backGround{
    padding: 100px;
    position: relative;
    z-index: 2;

        display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    .logo{
        padding-top: 7rem;
        width: 5.875rem;
        opacity: 1;
        
    }
    .textLogo{
        width: 15rem;
        padding-bottom: 3rem;
        
    }
    button{
        background: #1A535C;
        box-sizing: border-box;
        border-radius: 20px;
        border: 1px solid #1A535C;
        width: 12rem;
        height: 2.5rem;
        font-family: CirceRoundedRegular;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: -0.022em;
        color: #FFFFFF;        
    }
    .buttonWhite{
        color: #1A535C;
        background: #FFFFFF;
    }
    a{
    font-family: CirceRoundedRegular;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.022em;
    color: #1A535C;
    }
}
.imgFondo{
    // background-image: url("../../static/Fondo.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;

}
img{
    width: 325px;
}