%buttonStyle {
  background-color: grey;
  border-radius: 3rem;
  height: 2rem;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a {
  text-decoration: none;
  color: black;
}

@mixin header($high) {
  background-color: grayscale($color: #d6cece);
  height: $high;
  width: 100vw;
  margin: 0;
  padding: 0;
}

%link {
  text-decoration: none;
  color: black;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.searchInput {
  background-color: transparent;
  border: transparent;
  height: 2rem;
  padding-left: 1rem;
}

body {
  margin: 0;
  padding: 0;
}
