@import "./text";
@import "./icons";

%buttonStyle {
  background-color: grey;
  border-radius: 3rem;
  height: 2rem;
}
$nomadas-green: #1a535c;

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a {
  text-decoration: none;
  color: black;
}
input {
  background-color: transparent;
  border: transparent;
}

@mixin header($high) {
  background-color: grayscale($color: #d6cece);
  height: $high;
  width: 100vw;
  margin: 0;
  padding: 0;
}

%link {
  text-decoration: none;
  color: black;
}
