$color-white: white;

@font-face {
  font-family: CirceRoundedAltBold;
  src: url("fonts/CirceRounded-Alt-Bold.otf");
}

@font-face {
  font-family: CirceRoundedAltExtraBold;
  src: url("fonts/CirceRounded-Alt-ExtraBold.otf");
}

@font-face {
  font-family: CirceRoundedBold;
  src: url("fonts/CirceRounded-Bold.otf");
}

@font-face {
  font-family: CirceRoundedExtraBold;
  src: url("fonts/CirceRounded-ExtraBold.otf");
}

@font-face {
  font-family: CirceRoundedExtraLight;
  src: url("fonts/CirceRounded-ExtraLight.otf");
}

@font-face {
  font-family: CirceRoundedLight;
  src: url("fonts/CirceRounded-Light.otf");
}

@font-face {
  font-family: CirceRoundedRegular;
  src: url("fonts/CirceRounded-Regular.otf");
}

@font-face {
  font-family: CirceRoundedThin;
  src: url("fonts/CirceRounded-Thin.otf");
}

@font-face {
  font-family: Typold;
  src: url("fonts/Typold-Book500.otf");
}

