@import "../../style/base";

.header { 
  @include header(12rem);
}

// .searchInput {
//   background-color: transparent;
//   border: transparent;
//   height: 2rem;
//   padding-left: 1rem;
// }

// img {
//   padding-left: 0.5rem;
// }

.searchContainer {
  @extend %buttonStyle;
  width: 18rem;
  margin-right: 2rem;
}
.goBack {
  width: 1rem;
  padding-right: 0.5rem;
}

// .navContainer {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-top: 2rem;
// }

.title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
.link {
  @extend %link;
}

.housesButton {
  @extend %buttonStyle;
  width: 7rem;
  border: transparent;
}
.roomsButton {
  @extend %buttonStyle;
  width: 7rem;
  border: transparent;
}

.houseRoomContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
