@import "../../style/base";

.header {
  @include header;
}

.searchInput {
  background-color: transparent;
  border: transparent;
  height: 2rem;
  padding-left: 1rem;
}

.searchImage {
  padding-left: 0.5rem;
}

.searchContainer {
  @extend %buttonStyle;
  width: 18rem;
  margin-right: 2rem;
  i {
    font-size: 15px;
  }
}
.goBack {
  width: 1rem;
  padding-right: 0.5rem;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.housesButton {
  @extend %buttonStyle;
  width: 7rem;
  border: transparent;
}
.roomsButton {
  @extend %buttonStyle;
  width: 7rem;
  border: transparent;
}

.houseRoomContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .roomsLink,
  .housesLink {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid black;
    width: 9.5rem;
    text-align: center;
  }
  .housesLink {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  .roomsLink {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .roomsLink.active,
  .housesLink.active {
    background-color: blue;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
