@import "../../style/base";
@import "../../style/text";
@import "../../style/icons";

.wrapper {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  ),
  url("../../static/Fondo-Favoritos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 72%;
  height: 100vh;
}

.contentFav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: auto;
}

.header1 {
  font-family: CirceRoundedBold;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.022em;
  color: #1a535c;
  padding-left: 2.5rem;
  padding-bottom: 5.8rem;
}

.linkGreen {
  background: #1a535c;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #1a535c;
  width: 12rem;
  height: 2.5rem;
  font-family: CirceRoundedRegular;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: -0.022em;
  color: #ffffff;
  padding-top: 0.5rem;
}

.linkWhite {
  color: #1a535c;
  background: #ffffff;
}

