@import "../../style/base";

.searchImage {
  padding-left: 0.5rem;
}
.houseRoomContainer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  .roomsLink,
  .housesButton {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid $nomadas-green;
    width: 9.5rem;
    text-align: center;
    letter-spacing: -0.022em;
    font-size: 1.125rem;
    font-family: CirceRoundedRegular;
  }
  .housesButton {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: $nomadas-green;
    color: white;
  }
  .roomsLink {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    color: $nomadas-green;
  }
}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.75rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  div {
    font-family: CirceRoundedRegular;
    font-size: 0.875rem;
    letter-spacing: -0.022em;
    color: #000000;
    display: flex;
    align-items: flex-end;
    border-radius: 1.5rem;
    padding: 12px;
    .icon-TipoFiltros,
    .icon-TipoMapa,
    .icon-TipoOrden {
      font-size: 1.25rem;
    }
  }
  .filters {
    background-color: $nomadas-green;
    .icon-TipoFiltros {
      color: white;
    }
    a {
      color: white;
    }
  }
}

.header {
  @include headerBackgroundImg("FONDO-VALENCIA.jpg");
}
.notFoundMessage {
  font-family: CirceRoundedRegular;
  font-size: 0.875;
  margin-left: 1.25rem;
}
