.nav {
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
  align-items: center;
  font-size: 1.875rem;
}
.three {
  justify-content: space-evenly;
}
.two {
  padding-right: 1.275rem;
  padding-left: 1.134rem;

  justify-content: space-between;
}
